@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #5035F5 0%, #4FA6F8 100%);
  font-family: "Rubik";
  
}

.test-nft-btn {

    border: none;
    padding: 12px 20px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid hsla(0,0%,100%,.4);
}

.test-nft-btn:hover {
  background-color: hsla(0,0%,100%,.1);
}
